<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Nusantara Kita</title>
  <meta name="description" content="Nusantara Kita" />
  <meta name="author" content="Yuefii" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
  <div class="navbar clear">
    <div class="row content">
      <a class="right" style="text-decoration: underline" href="#"><i
          class="fa-solid fa-book"></i>&nbsp;Documentation</a>
      <a class="right" href="https://github.com/yuefii/NusantaraKita" target="_blank"><i
          class="fa-brands fa-github"></i>&nbsp;Github</a>
    </div>
  </div>

  <div class="container clear">
    <div class="row wrapper">
      <div class="sidepanel">
        <a class="title">Documentation</a>
        <a class="section" href="#GettingStarted">Getting Started</a>
        <a class="section" href="#Installation">Installation</a>
        <a class="section" href="#">Contribution</a>
        <div class="space double"></div>

        <a class="title">Endpoints</a>
        <a class="section" href="#">Provinsi</a>
        <a class="section" href="#">Kabupaten</a>
        <a class="section" href="#">Kecamatan</a>
        <a class="section" href="#">Desa</a>
        <div class="space double"></div>
      </div>

      <div id="GettingStarted"></div>
      <div  class="right-col">
        <h1>Introduction</h1>

        <p>
          Nusantara Kita adalah API yang menyediakan data wilayah Indonesia untuk berbagai aplikasi yang memerlukan
          informasi geospasial. Project ini adalah pembaruan dari versi sebelumnya, dengan peningkatan signifikan dalam
          cara penyimpanan dan pengelolaan data.
        </p>

        <p>
          Sebelumnya, data wilayah dihasilkan dari file CSV, namun kini Nusantara Kita menggunakan database modern untuk
          meningkatkan performa dan fleksibilitas. Anda sekarang dapat memilih dari tiga opsi database yang didukung:
          MySQL, PostgreSQL, dan MongoDB. Dengan perubahan ini, API tidak hanya menjadi lebih efisien tetapi juga lebih
          mudah diintegrasikan ke dalam berbagai sistem.
        </p>

        <h2>Versions:</h2>

        <p id="Installation">API Version 2.0</p>

        <h2>Installation</h2>

        <p>
          bagaimana menjalankan projectnya dilokal?
        </p>

        <ol>

          <li>Clone Repository:
            <div class="box">
              git clone https://github.com/username/NusantaraKita.git
              <br>
              cd NusantaraKita
            </div>
          </li>
          <br />
          <li>Setup Environment:
            <div class="box">
              mv env.example .env
            </div>
            lalu kemudian kalian isi sesuai database kalian.
          </li>
          <br />
          <li>Install Requirements:
            <div class="box">
              pip install -r requirements.txt
            </div>
          </li>
          <br />
          <li>Menjalankan Jupyter Notebook nya:
            <div class="box">
              jupyter notebook
            </div>
            jalankan semua code yang ada di notebook untuk merubah dataset csv menjadi sql yang akan langsung diinsert ke database kalian.
          </li>
          <br />
          <li>Menjalankan API nya:
            <div class="box">
              python main.py
            </div>
          </li>
          <br />
        </ol>

      </div>
    </div>
</body>

</html>